<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
<div>

</div>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"
    ></a>
</div>
<br/>
<hr/>
<a href="/books/search">Поиск книг</a>
<br/>
<a href="/books/new">Добавить книгу</a>
<hr/>
<div>
    <div>
        <p>Отсортированный список книг по году</p>
        <a th:href="@{/books?page=1&sort_by_year=true}">1</a>
        <a th:href="@{/books?page=2&sort_by_year=true}">2</a>
        <a th:href="@{/books?page=3&sort_by_year=true}">3</a>
        <a th:href="@{/books?page=4&sort_by_year=true}">4</a>
        <a th:href="@{/books?page=5&sort_by_year=true}">5</a>
    </div>
    <div>
        <p>Не отсортированный список книг по году</p>
        <a th:href="@{/books?page=1&sort_by_year=false}">1</a>
        <a th:href="@{/books?page=2&sort_by_year=false}">2</a>
        <a th:href="@{/books?page=3&sort_by_year=false}">3</a>
        <a th:href="@{/books?page=4&sort_by_year=false}">4</a>
        <a th:href="@{/books?page=5&sort_by_year=false}">5</a>
    </div>
</div>


</body>
</html>